.wrapper {
    display: flex;
    flex-direction: column;
}

.label {

}

.input {
    background-color: grey;
    color: black;
}

.messages-container {
    display: flex;
    flex-direction: column;
    background-color: grey;
}

.error-message {
    color: red;
}

.warning-message {
    color: yellow;
}

.info-message {
    color: lightskyblue;
}